body, html {
	height: 100%;
}
body {
	font-family: sans-serif;
	margin: 30px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

h1 {
	text-align: center;
	font-size: 5vw;
	line-height: 1.1;
}
