@import "normalize";

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.news-item {
	position: absolute;
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	background: #FFF;
	overflow: hidden;
}